#about, #about .hidden_link {
    background-color: orange;
}

#homepage, #work, #contact, #homepage .hidden_link, #work .hidden_link, #contact .hidden_link {
    background-color: gray;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
    padding: 20px 0;
    margin: 0;
    text-transform: uppercase;
}

.info {
    position: relative;
    width: inherit;
}