#about, #about .hidden_link {
    background-color: orange;
}

#homepage, #work, #contact, #homepage .hidden_link, #work .hidden_link, #contact .hidden_link {
    background-color: gray;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    padding: 20px 0;
    margin: 0;
    text-transform: uppercase;
}

.info {
    position: relative;
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.personal, .experience {
    width: 100%;
    height: inherit;
    color: white;
    display: flex;
    justify-content: center;
}

.personal {
    flex-direction: column;
}

.subtitle {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    box-shadow: orange 0 1px 0 0;
}

ul.info_lists {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul.info_lists > li {
    width: 50%;
    padding-bottom: 20px;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
}

.text_title {
    opacity: 0.4;
}

.text_desc {
    font-weight: 600;
}

.experience {
    flex-wrap: wrap;
}

.box_info {
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.6);
    border-radius: 8px 0;
    width: 265px;
    height: 160px;
    margin: 10px;
}

.space_around_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.number, .text_bottom {
    margin: 0 40px;
}

.number {
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 65px;
    color: orange;
}

.number::after {
    content: '+';
    color: orange;
    font-size: 30px;
    top: 5px;
    position: absolute;
}

.text_bottom {
    position: relative;
    font-family: Open Sans, sans-serif;
    padding-left: 40px;
    font-size: 15px;
}

.text_bottom::before {
    content: '';
    background-color: rgb(107, 107, 107);
    height: 1.5px;
    width: 30px;
    position: absolute;
    left: 0px;
    top: 7px;
}

.horizontal_line {
    border-top: 1px solid rgb(66, 66, 66);
    max-width: 40%;
    height: 1px;
    margin: 10px auto 55px;
}

.skills_text {
    position: relative;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 30px 0;
}

.display_skills_circle {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill_content {
    width: 300px;
    margin: 20px 0;
    display: flex;
    justify-content: center
}

.percent, svg {
    position: relative;
    width: 150px;
    height: 150px;
}

.percent svg {
    transform: rotate(270deg);
}

.percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke: rgb(66, 66, 66);
    transform: translate(5px, 5px);
}

.percent svg circle:nth-child(2) {
    stroke: #ffd800;
    stroke-dasharray: 440px;
    animation: rotateFill 2s ease-out forwards;
}

@keyframes rotateFill {
    from {
        stroke-dashoffset: calc(440px - (440px * 0) / 100);
    }

    to {
        stroke-dashoffset: calc(440px - (440px * var(--num)) / 100);
    }
}

.value {
    color: #ffd800;
    position: absolute;
    display: flex;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 400;
}

.value span {
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
}