#about, #about .hidden_link {
    background-color: orange;
}

#homepage, #work, #contact, #homepage .hidden_link, #work .hidden_link, #contact .hidden_link {
    background-color: gray;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    padding: 20px 0;
    margin: 0;
    text-transform: uppercase;
}

.info {
    position: relative;
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.personal, .experience {
    width: 100%;
    height: inherit;
    color: white;
    display: flex;
    justify-content: center;
}

.personal {
    flex-direction: column;
}

.subtitle {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    box-shadow: orange 0 1px 0 0;
}

ul.info_lists {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul.info_lists > li {
    width: 50%;
    padding-bottom: 20px;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
}

.text_title {
    opacity: 0.4;
}

.text_desc {
    font-weight: 600;
}

.experience {
    flex-wrap: wrap;
}

.box_info {
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.6);
    border-radius: 8px 0;
    width: 265px;
    height: 160px;
    margin: 10px;
}

.space_around_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.number, .text_bottom {
    margin: 0 40px;
}

.number {
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 65px;
    color: orange;
}

.number::after {
    content: '+';
    color: orange;
    font-size: 30px;
    top: 5px;
    position: absolute;
}

.text_bottom {
    position: relative;
    font-family: Open Sans, sans-serif;
    padding-left: 40px;
    font-size: 15px;
}

.text_bottom::before {
    content: '';
    background-color: rgb(107, 107, 107);
    height: 1.5px;
    width: 30px;
    position: absolute;
    left: 0px;
    top: 7px;
}

.horizontal_line {
    border-top: 1px solid rgb(66, 66, 66);
    max-width: 40%;
    height: 1px;
    margin: 70px auto 55px;
}

/* Circular Progress*/

.circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #1e51dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
}

.mask.full,
.circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
}

@keyframes fill{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}
