#contact, #contact .hidden_link {
    background-color: orange;
}

#about, #homepage, #work, #about .hidden_link, #homepage .hidden_link, #work .hidden_link {
    background-color: gray;
}

.contact_form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.f_content {
    width: 800px;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.f_content div {
    height: var(--h);
    margin-bottom: 30px;
    padding: 0 15px;
}

.f_name, .f_email {
    width: 50%;
}

.f_subject, .f_message {
    width: 100%;
    width: -webkit-fill-available;
}

.f_content input[type=text], .f_content input[type=email], .f_content textarea {
    background-color: rgb(19, 19, 19);
    color: white;
    border-color: rgb(59, 59, 59);
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    padding: 11px 26px;
    margin: 0 10px;
    width: -webkit-fill-available;
    width: 100%;
    height: auto;
}

.f_message textarea {
    height: var(--h);
    resize: vertical;
}