#homepage, #homepage .hidden_link {
    background-color: orange;
}

#about, #work, #contact, #about .hidden_link, #work .hidden_link, #contact .hidden_link {
    background-color: gray;
}

body {
    overflow: hidden;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile_pic {
    background-image: url('../resources/homepage/profile_pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: calc(100vh - 80px);
    border-radius: 25px;
    box-shadow: rgb(0, 0, 0) 5px 5px 10px 1px;
}

.info {
    width: 700px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
}

.name, .description {
    margin: 20px 0;
}

.name {
    font-size: 35px;
    font-weight: 800;
    color: orange;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.position {
    color: white;
    display: block;
}

.description {
    color: white;
    font-family: 'Lucida Console', open-sans;
    font-size: 16px;
    line-height: 35px;
    text-align: justify;
}

.button {
    position: relative;
    background-color: transparent;
    background-image: linear-gradient(to left, orange 50%, transparent 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease;
    cursor: pointer;
    height: 50px;
    width: 310px;
    border: 2px solid orange;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button:hover {
    background-position: 100% 0;
}

.button_text {
    position: relative;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 20px;
}

.button_arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 70px;
    height: 53px;
    background-color: orange;
    right: -1px;
    top: -2px;
    border-radius: 35px;
}
.button_arrow::after {
    content: url(../resources/homepage/button-arrow.png);
}

